@font-face {
  font-family: "MapleMono";
  src: url("/font/MapleMono/MapleMono[wght]-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapleMono";
  src: url("/font/MapleMono/MapleMono-Italic[wght]-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
